
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.cabecera {

}

/*pantalla 1*/
.info {

}

/*pantalla 2*/
.tarjetas {

}

.card {

}

/*pantalla 3*/
.perro {

}

/*pantalla 4*/
.gato {

}

/*pantalla 5*/
.pajaro {

}

/*pantalla 6*/
.pez {

}

/*pantalla 4*/
.exoticos {

}

.piedepagina{

}