* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CABECERA FIJA*/
.cabecera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(fondo-cabecera.jpg);
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(150, 150, 141, 0.6);
    font-size: 1.5rem;
    font-family: monospace;

}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin-left: 50px;
}

.nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: large;

    border: 1px solid black;
    padding: 20px;
    background-color: rgba(174, 158, 137, 0.6);
    box-shadow: 5px 8px 10px #343434;
    border-radius: 30px;
}

.nav ul li a:hover {
    color: rgb(228, 219, 231);
    background-color: rgba(89, 74, 55, 0.6);
}



/*BOTON FINAL*/
.boton2{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #998477;
    color: white;
    border: 1px solid black;
}

.boton2:hover {
    background-color: rgb(152, 147, 128);
    color: rgb(0, 0, 0);
}
/*pantalla 1*/
.info {
    height: 100vh;
    background-image: url(imagen-fondo-pag1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h1{
    font-size: 40px;
    text-decoration:underline;
    color:rgb(0, 0, 0);
    text-shadow: 15px 5px 10px rgb(0, 0, 0) ;
}

.info h2{
    color:rgb(0, 0, 0);
    text-shadow: 15px 5px 10px rgb(0, 0, 0) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton {
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 20px;
    background-color: rgba(206, 182, 172, 0.5);
}
/*pantalla 2*/
.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    padding: 100px 20px;
    background-image: url(imagen-fondo-pag2.jpg);
}

.tarjeta {
    background: lightgray;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 300px;
    width: 350px;
    height: 350px;
}

.tarjeta img{
    width: 100%;
    height: 300px;
    border-radius: 300px;
}

.tarjeta:hover {
    transform: scale(1.05);
}

/*SECCIONES*/
section {
    padding: 50px;
}
/*pantalla 3*/
.perro {}

/*pantalla 4*/
.gato {}

/*pantalla 5*/
.pajaro {}

/*pantalla 6*/
.pez {}

/*pantalla 4*/
.exoticos {}

.final {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}