* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*lo he buscado para que al scrollear con el ratón se vea más suave*/
}


/*BODY*/
body {
    font-family: 'Quicksand', sans-serif;
}

/*CABECERA FIJA*/
.cabecera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    background-image: url(fondo-cabecera.jpg);
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cabecera img {
    width: 80px;
    border-radius: 300px;
}

.logo {
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(150, 150, 141, 0.6);
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin-left: 50px;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: large;

    border: 1px solid black;
    padding: 20px;
    background-color: rgba(174, 158, 137, 0.6);
    box-shadow: 5px 8px 10px #343434;
    border-radius: 30px;
}

.nav ul li a:hover {
    color: white;
    background-color: rgba(89, 74, 55, 0.6);
}


/*BOTÓN FLOTANTE FINAL*/
.boton2 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #998477;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}

.boton2:hover {
    background-color: rgb(152, 147, 128);
    color: black;
}

/* Pantalla 1 */
.info {
    height: 100vh;
    background-image: url(imagen-fondo-pag1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
}

.info h1 {
    font-size: 48px;
    text-decoration: underline;
    color: black;
    text-shadow: 1px 5px 10px rgb(53, 50, 50);
    font-family: 'Permanent Marker', cursive;
}

.info h2 {
    color: black;
    text-shadow: 15px 5px 10px rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.boton {
    text-decoration: none;
    color: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 30px;
    background-color: rgba(206, 182, 172, 0.5);
}

/* Pantalla 2 */
.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 120px 20px;
    background-image: url(imagen-fondo-pag2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.tarjeta {
    background: lightgray;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    /*queda más bonito con esto aunque hasta ahora no lo hayamos usado en clase*/
    border-radius: 300px;
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tarjeta img {
    width: 100%;
    height: 100%;
    border-radius: 300px;

}

.tarjeta:hover {
    transform: scale(1.05);
}

/* Secciones Animales */
section {
    padding: 100px 40px;
    text-align: center;
    color: white;
}

#perros,
#gatos,
#pajaros,
#otros {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*Propiedad que me ha añadido la IA, que hace que el fondo no scrollee*/
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 2px 4px black;
}

#perros {
    background-image: url(fondo-perros.jpg);
}

#gatos {
    background-image: url(fondo-gatos.jpg);
}

#pajaros {
    background-image: url(fondo-pajaros.jpg);
}

#otros {
    background-image: url(fondo-otros.jpg);
}

section h2 {
    font-size: 36px;

}

section p {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 10px;
    font-style: italic;
}

/* Footer */
.sobrenosotros {
    background-image: url(veterinaria-logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    padding: 60px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sobrenosotros p {
    color: white;
    font-size: 36px;
    font-size: 25px;
    font-style: italic;

    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    
}

.columnas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 300px;
}

.columnas div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.columnas h1 {
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.columnas a {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
}

/*FOOTER*/

footer {
    background-color: rgb(55, 52, 52);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

footer img {
    width: 100px;
    border-radius: 300px;
}